<div id="calendar" class="calendar"></div>

<script type="text/javascript">
    const calendar = new Calendar('.calendar', {
        language: 'de',
        enableRangeSelection: false,
        dataSource: [
            {% for e in dates %}
            {
                startDate: Date.parse('2020-{{ "%02d"|format(e.fromMonth) }}-{{ "%02d"|format(e.fromDay) }}'),
                endDate: Date.parse('2020-{{ "%02d"|format(e.toMonth) }}-{{ "%02d"|format(e.toDay) }}'),
                color: "{{ e.color }}",
                name: "{{ e.name }}",
                details: "{{ e.details }}"
            },
            {% endfor %}
        ],
        mouseOnDay: function (e) {
            if (e.events.length > 0) {
                var content = '';

                for (var i in e.events) {
                    content += '<div class="event-tooltip-content">'
                        + '<div class="event-name" style="color:' + e.events[i].color + '"><b>' + e.events[i].name + '</b></div>'
                        + '<div class="event-details">' + e.events[i].details + '</div>'
                        + '</div>';
                }

                if (this.tooltip != null) {
                    this.tooltip.destroy();
                    this.tooltip = null;
                }

                this.tooltip = tippy(e.element, {
                    placement: 'right',
                    content: content,
                    animateFill: false,
                    animation: 'shift-away',
                    arrow: true
                });
                this.tooltip.show();
            }
        },
        clickDay: function (e) {
            for (var i in e.events) {
                if (e.events[i].color === "#ff007a") {
                    return;
                }
            }
            day = e.date.getDate();
            month = e.date.getMonth() + 1;
            window.open("events#" + day + "." + month, "_self")
        }
    });
</script>