{% include 'header_mobile.twig' %}

<style>
    text {
        size: 13pt
    }
</style>

{% if message != "" %}
    <p style="font-size: 13pt">{{ message }}</p>
{% endif %}

 {% if dates|length < 1 %}
     <div>
         <p id="noevents" style="color: #cf2e78; size: 22px; margin-top: 20px; font-family: 'Roboto Slab', serif;"><b>Aktuell sind noch keine Ereginisse freigeschalten! :(</b></p>
     </div>
 {% endif %}

{% for e in dates %}
    <div style="font-size: 13pt; font-weight: normal; text-align: justify">
        <p id="{{ e.date|date("dd.MM")|replace({'0': ''}) }}" style="color: #cf2e78; margin-top: 20px; font-family: 'Roboto Slab', serif;"><b>{{ e.date|date("dd.MM.yyyy") }}</b></p>
        <p class="events-type">{% if e.type == "HISTORIC" %} HISTORISCH {% else %} PERSÖNLICH {% endif %}</p>
        {{ e.description }}
        <br>
        von: {{ e.name }}
        <hr>
    </div>
{% endfor %}

{% include 'footer_mobile.twig' %}
