{% include 'header.twig' %}

{% if message != "" %}
    <div class="card card-header">{{ message }}</div>
{% endif %}

{% for e in dates %}
    <p id="{{ e.date|date("dd.MM")|replace({'0': ''}) }}" style="color: #cf2e78; size: 22px; margin-top: 20px; font-family: 'Roboto Slab', serif;"><b>{{ e.date|date("dd.MM.yyyy") }}</b></p>
    <p class="events-type">{% if e.type == "HISTORIC" %} HISTORISCH {% else %} PERSÖNLICH {% endif %}</p>
    {{ e.description }}
    <br>
    von: {{ e.name }}
    <hr>
{% endfor %}

{% include 'footer.twig' %}
