<!doctype html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/mod.css">
    <title>KDS Mod Panel</title>
</head>
<body>
<h1>
    Willkommen im Mod Panel!
</h1>
<h3>
    Schlechte Layouts und Designs seid ihr sicher schon von Parlamentpages gewohnt. Also viel spaß!
    (Aber besser funktional statt schön!)
</h3>
<h4 style="display: inline">Zeige</h4>
<form action="/mod/show/all/sortby/{{ order }}" method="get" enctype="multipart/form-data" style="display: inline">
    <button type="submit" class="btn btn-primary btn-sm" style="display: inline">alle</button>
</form>
<form action="/mod/show/approved/sortby/{{ order }}" method="get" enctype="multipart/form-data" style="display: inline">
    <button type="submit" class="btn btn-primary btn-sm" style="display: inline">akzeptierte</button>
</form>
<form action="/mod/show/denied/sortby/{{ order }}" method="get" enctype="multipart/form-data" style="display: inline">
    <button type="submit" class="btn btn-primary btn-sm" style="display: inline">abgelehnte</button>
</form>
<form action="/mod/show/pending/sortby/{{ order }}" method="get" enctype="multipart/form-data" style="display: inline">
    <button type="submit" class="btn btn-primary btn-sm" style="display: inline">zu bearbeitende</button>
</form>
<h3 style="display: inline">sortiert nach</h3>
<form action="/mod/show/{{ status }}/sortby/date" method="get" enctype="multipart/form-data" style="display: inline">
    <button type="submit" class="btn btn-primary btn-sm" style="display: inline">datum</button>
</form>
<form action="/mod/show/{{ status }}/sortby/status" method="get" enctype="multipart/form-data" style="display: inline">
    <button type="submit" class="btn btn-primary btn-sm" style="display: inline">status</button>
</form>
<form action="/mod/show/{{ status }}/sortby/personal" method="get" enctype="multipart/form-data" style="display: inline">
    <button type="submit" class="btn btn-primary btn-sm" style="display: inline">persönlich</button>
</form>
<form action="/mod/show/{{ status }}/sortby/historic" method="get" enctype="multipart/form-data" style="display: inline">
    <button type="submit" class="btn btn-primary btn-sm" style="display: inline">historisch</button>
</form>
<br>
<br>
<br>
<div class="container-fluid">
    <div class="row align-items-start" style="background-color: gray">
        <div class="col-sm justify-content-start">ID</div>
        <div class="col justify-content-start">Datum</div>
        <div class="col justify-content-start">Art</div>
        <div class="col justify-content-start">Beschreibung</div>
        <div class="col justify-content-start">Quelle</div>
        <div class="col justify-content-start">Name</div>
        <div class="col justify-content-start">Bild</div>
        <div class="col justify-content-start">Change Status</div>
    </div>
    {% for i in list %}
        <div class="row align-items-start {{ i.status }}">
            <div class="col-sm justify-content-start">{{ i.id }}</div>
            <div class="col justify-content-start">{{ i.date | split('-')[2] }}.{{ i.date|split("-")[1] }}
                ({{ i.date|split("-")[0] }})
            </div>
            <div class="col justify-content-start">{{ i.type }}</div>
            <div class="col justify-content-start text-break"
                 title="{{ i.description }}">{{ i.description }}</div>
            <div class="col justify-content-start text-break" title="{{ i.source }}"><a
                        href="{{ i.source }}"> {{ i.source }}</a>
            </div>
            <div class="col justify-content-start">{{ i.name }}</div>
            <div class="col justify-content-start"><a href="{{ i.picture }}">{{ i.picture }}</a></div>
            <div class="col justify-content-start">
                <form action="/mod/edit/status" method="post" enctype="multipart/form-data">
                    <label>
                        <input type="text" name="id" value="{{ i.id }}" hidden>
                        <input type="text" name="order" value="{{ order|lower }}" hidden>
                        <input type="text" name="state" value="{{ status|lower }}" hidden>
                        <button type="submit" name="status" value="APPROVED" class="btn btn-success btn-sm"
                                style="display: inline" {% if i.status== "APPROVED" %} disabled {% endif %}>✓
                        </button>
                        <button type="submit" name="status" value="DENIED" class="btn btn-danger btn-sm"
                                style="display: inline" {% if i.status== "DENIED" %} disabled {% endif %}>✗
                        </button>
                        <button type="submit" name="status" value="PENDING" class="btn btn-secondary btn-sm"
                                style="display: inline" {% if i.status== "PENDING" %} disabled{% endif %}>⧖
                        </button>
                    </label>
                </form>
            </div>
        </div>
    {% endfor %}
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>