{% include 'header.twig' %}

<script src="https://unpkg.com/popper.js@1"></script>
<script src="https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.min.js"></script>
<script src="https://unpkg.com/js-year-calendar@latest/locales/js-year-calendar.de.js"></script>
<script src="https://unpkg.com/tippy.js@4"></script>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.min.css"/>

<div class="card card-header">
    Hier könnt ihr sehen, wie viele Eintragungen es schon gibt:
<br>
    <ul>
        <li><div class="cal-green">Grün</div> - Für diesen Tag haben wir bereits genug Auswahl</li>
        <li><div class="cal-yellow">Gelb</div> - Hier ist es schon ereignisreicher</li>
        <li><div class="cal-red">Rot</div> - Hier gibt es noch keine Ereignisse</li>
    </ul>
</div>

<div id="calendar" class="calendar"></div>

<script type="text/javascript">
    const calendar = new Calendar('.calendar', {
        language: 'de',
        enableRangeSelection: false,
        dataSource: [
            {% for e in dates %}
            {
                startDate: Date.parse('2020-{{ e.fromMonth }}-{{ e.fromDay }}'),
                endDate: Date.parse('2020-{{ e.toMonth }}-{{ e.toDay }}'),
                color: "{{ e.color }}",
                name: "{{ e.name }}",
                details: "{{ e.details }}"
            },
            {% endfor %}
        ],
        mouseOnDay: function (e) {
            if (e.events.length > 0) {
                var content = '';

                for (var i in e.events) {
                    content += '<div class="event-tooltip-content">'
                        + '<div class="event-name" style="color:' + e.events[i].color + '"><b>' + e.events[i].name + '</b></div>'
                        + '<div class="event-details">' + e.events[i].details + '</div>'
                        + '</div>';
                }

                if (this.tooltip != null) {
                    this.tooltip.destroy();
                    this.tooltip = null;
                }

                this.tooltip = tippy(e.element, {
                    placement: 'right',
                    content: content,
                    animateFill: false,
                    animation: 'shift-away',
                    arrow: true
                });
                this.tooltip.show();
            }
        },
        clickDay: function (e) {
            for(var i in e.events){
                if (e.events[i].color === "#FF0000"){
                    return;
                }
            }
            day = e.date.getUTCDate() + 1;
            month = e.date.getUTCMonth() + 1;
            Console.log(e.date);
            window.open("events#" + day + "." + month, "_self")
        }
    });
</script>

{% include 'footer.twig' %}
